@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

:root {
  --bg: #ffffff;
  --ink: #000000;
}

body {
  background-color: var(--bg);
  color: var(--ink);
  font-family: var(--font-sans);
  overflow: hidden;
  touch-action: none;
}
